{% extends 'main/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->
{% load sending_count %}
{% load active_sending_count %}
{% load active_clients_count %}

{% block content %}
      <div class="header-dark">

 <div class="row gy-5 mt-5 mx-0 ">
        <h1> Сервис рассылки сообщений SkyForest</h1>
     <div class="col-12">
            <div class="p-3 mb-5  rounded">

                <figure class=" p-3 mb-0" style="color:#00ffff">
                    Создано рассылок: {% sending_count %}.<br>
                    <br>
                    Количество активных рассылок: {% active_sending_count %}.<br>
                    <br>
                    Количество уникальных клиентов: {% active_clients_count %}
                </figure>
            </div>
        </div>
 </div>
</div>

<div class="row  mt-5" style="color:#c0c0c0">
        <h1> Последние новости SkyVillage:</h1>
    <div class="col-3">
     </div>
    {% for object in random_blog_posts %}
        {% include 'blog/includes/inc_post_card.html' %}
{% endfor %}
</div>


{% endblock %}