{% extends 'main/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->
{% load static %}

{% block content %}  <!-- ШАБЛОННЫЙ ТЕГ for content -->
    <main>
               <div class="pricing-header px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">
            <img class="rounded-circle" src="{% static 'img/main/forest.jpg' %}" alt="Картинка" width="500" height="300">
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-12">   <!-- кнопка Создать рассылку -->
                <a href="{% url 'main:sending_create' %}" class="btn btn-primary border-info m-2">Создать рассылку</a>
            </div>
            {% for object in object_list %}
                {% if perms.main.can_view_sending or user.is_superuser %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header  py-3">
                                <h5 class="my-0 fw-normal">{{ object.message }}</h5>
                            </div>
                            <div class="card-body bg-info">
                                <h6 class="card-title pricing-card-title">{{ object.created_at }}</h6>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="card-title pricing-card-title">{{ object.scheduled_time }}</li>
                                </ul>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="card-title pricing-card-title">{{ object.frequency }}</li>
                                </ul>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li class="card-title pricing-card-title">{{ object.status }}</li>
                                </ul>
                                <p><a class="btn btn-secondary" href="{% url 'main:sending_view' object.pk %}">Посмотреть&raquo;</a></p>
                                {% endif %}
                                {% if object.created == user or user.is_superuser %}
                        <div class="col-4">
                              <p><a class="btn btn-secondary" href="{% url 'main:sending_view' object.pk %}">Посмотреть&raquo;</a>
                                    <a class="btn btn-warning" href="{% url 'main:sending_update' object.pk %}">Изменить&raquo;</a>
                                   <a class="btn btn-danger" href="{% url 'main:sending_delete' object.pk %}">Удалить&raquo;</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

            {% endfor %}
                        </div>
        </div>
    </main>
 <style>
        .btn {
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
  </style>
{% endblock %}   <!-- закрытие ШАБЛОННЫЙ ТЕГ for content -->